* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Microsoft Yahei, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.w {
    width: 90%;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
    vertical-align: middle;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
.tc {
	text-align: center;
}

.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}

em, i {
	font-style: normal;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../fonts/iconfont.eot');
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/iconfont.woff2') format('woff2'),
        url('../../fonts/iconfont.woff') format('woff'),
        url('../../fonts/iconfont.ttf') format('truetype'),
        url('../../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

